<launch>
  <arg name="model" />

  <param name="use_sim_time" value="true"/>
  <param name="robot_description" textfile="$(find autolabor_description)/urdf/autolabor_mini.urdf" />
 
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
  </node>
  <node name="state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
  </node>

  <!-- robot_localization EKF node for the odom frame -->
  <node pkg="robot_localization" type="ekf_localization_node" name="robot_localization_ekf_node_odom"  clear_params="true">
    <param name="frequency" value="10" />
    <param name="sensor_timeout" value="0.2" />
    <param name="predict_to_current_time" value="true"/>
    <param name="two_d_mode" value="true" />
    <param name="publish_tf" value="true" />

    <param name="map_frame" value="map" />
    <param name="odom_frame" value="odom" />
    <param name="base_link_frame" value="base_link" />
    <param name="world_frame" value="odom" />

    <param name="print_diagnostics" value="true" />
    <param name="debug" value="false" />
    <param name="debug_out_file" value="debug_odom_ekf.txt" />

    <!-- The camera is bad at position, only use velocity here. -->
    <param name="odom0" value="camera_odom_modified" />
    <rosparam param="odom0_config">[false, false, false, false, false, false,
                                     true, true, false, false, false, true,
                                     false, false, false]</rosparam>
    <!-- lidar gives a position information from tf. -->
    <param name="odom1" value="lidar_odom" />
    <rosparam param="odom1_config">[true, true, false, false, false, true,
                                     false, false, false, false, false, false,
                                     false, false, false]</rosparam>
  </node>
  
  <!-- <node pkg="tf" type="static_transform_publisher" name="robot_to_camera" args="0.0 0.0 0.0 0.0 0.0 0.0 /camera_pose_frame /base_link 200" /> -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0.0 0.0 0.0 0.0 0.0 0.0 /map /odom 200" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_velodyne" args="0.0 0.0 0.0 0.0 0.0 0.0 /base_link /velodyne 200" /> -->
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find simulation_launch)/rviz/real_localization.rviz" />
  
</launch>
